*.o
*.pdf
.project
print_frontend
pickle_test
.vscode/
.gdb_history
.cproject
gmon.out
autom4te.cache
missing
Makefile1
Makefile.in
install-sh
configure
autoscan.log
aclocal.m4
compile
lib/backend_interface.c
lib/backend_interface.h
lib/frontend_interface.c
lib/frontend_interface.h
lib/*.so
lib/*.o
lib/*.la
lib/*.lo
ltmain.sh
Makefile
ar-lib
config.*
depcomp
lib/.deps
libtool
lib/.libs
*.pc
*.tar.*